*{
  margin: 0;
  padding: 0;
}

.app-container {
  position: fixed; /* Set position to fixed */
  top: 0; /* Attach to the top of the viewport */
  right: 0; /* Attach to the right of the viewport */
  bottom: 0; /* Attach to the bottom of the viewport */
  left: 0; /* Attach to the left of the viewport */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Vertically center children */
  align-items: center; /* Horizontally center children */
  transition: background-image 1s ease; /* Define transition effect */
}

.app-container.transition {
  transition: none; /* Remove transition effect when transition state is false */
}



.sun {
  background: rgb(248,251,63);
  background: radial-gradient(circle, rgba(248,251,63,1) 0%, rgba(252,189,70,1) 100%);  
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

