*{
  margin: 0;
  padding: 0;
}

.app-container {
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  transition: background-image 1s ease; 
}

.app-container.transition {
  transition: none; 
}


.day {
  background: linear-gradient(0deg, rgba(45,188,253,1) 0%, rgba(34,91,195,1) 100%);
}

.night {
  background: linear-gradient(0deg, rgba(3,5,99,1) 0%, rgba(11,12,15,1) 40%)
}





.sun {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(248,251,63,1) 0%, rgba(252,189,70,1) 100%);
  border-radius: 50%; 
  transition: background-color 0.5s ease-in-out;
}

.moon {
  position: absolute;
  right: 100px;
  top: 50px;
  width: 100px;
  height: 100px;
  background: grey;
  border-radius: 50%; 
  transition: background-color 0.5s ease-in-out;
}


.clouds {
  position: absolute;
  background-image: url('./assets/clouds.png');
  animation: animateBG 25s linear infinite;
  background-size: 1000px;
  width: 100%;
  height: 450px;
  bottom: 0px;
}
@keyframes animateBG 
{
  0%
  {
    background-position-x: 1000px;
  }
}


