*{
  margin: 0;
  padding: 0;
}

.app-container {
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  transition: background-image 1s ease; 
  background: linear-gradient(0deg, var(--myColor1)0%, var(--myColor2) 40%);
  transition: --myColor1 1s, --myColor2 1s;
}



@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(34,91,195,1);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(45,188,253,1);
  inherits: false;
}

.night {
  --myColor1: rgba(3,5,99,1);
  --myColor2: rgba(11,12,15,1);
}

.sun {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: rgb(252,189,70,1);
  border-radius: 50%; 

}

.moon {
  position: absolute;
  right: 100px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: rgb(78, 78, 77);
  border-radius: 50%; 
  transition: background-color 1s ease-in-out;
  animation: moveSun 0.5s ease-in-out forwards
  
}

.clouds {
  position: absolute;
  background-image: url('./assets/clouds.png');
  animation: animateBG 25s linear infinite;
  background-size: 1000px;
  width: 100%;
  height: 450px;
  bottom: 0px;
}





@keyframes animateBG 
{
  0%
  {
    background-position-x: 1000px;
  }
}

@keyframes moveSun {
  0% {
    left: 50px; 
  }
  100% {
    left: calc(100% - 150px); 
  }
}


